
@{
    ViewBag.Title = "Xem";
    Layout = "~/Views/Shared/UserMasterPage.cshtml";

     
}



<div>
    <div class="well well-small">
        <h4>Sách nổi bật <small class="pull-right"><!--200+ featured products--></small></h4>
        <div class="row-fluid">
            <div id="featured" class="carousel slide">
                <div class="carousel-inner">
                    <div class="item active">
                        <ul class="thumbnails">
                            <li class="span3">
                                <div class="thumbnail">
                                    <i class="tag"></i>
                                    <a href="product_details.html"><img id="sachnoibat" src="bootstrap/img/Book/book00001.jpg" alt=""></a>
                                    <div class="caption">
                                        <h5 class="captionnb">Yêu và mơ</h5>
                                        <p>Nguyễn Khắc Viện</p>
                                        <h4><a class="btn" href="product_details.html">Xem</a> <!--<span class="pull-right">$5.000</span> --></h4>
                                    </div>
                                </div>
                            </li>
                            <li class="span3">
                                <div class="thumbnail">
                                    <i class="tag"></i>
                                    <a href="product_details.html"><img id="sachnoibat" src="bootstrap/img/Book/book00002.jpg" alt=""></a>
                                    <div class="caption">
                                        <h5 class="captionnb">Anh chồng Stockholm Người tình...</h5>
                                        <p>Bangkok</p>
                                        <h4><a class="btn" href="product_details.html">Xem</a> <!--<span class="pull-right">$5.000</span> --></h4>
                                    </div>
                                </div>
                            </li>
                            <li class="span3">
                                <div class="thumbnail">
                                    <i class="tag"></i>
                                    <a href="product_details.html"><img id="sachnoibat" src="bootstrap/img/Book/book00003.jpg" alt=""></a>
                                    <div class="caption">
                                        <h5 class="captionnb">Những tháng này đẹp nhất</h5>
                                        <p>Nhiều tác giả</p>
                                        <h4><a class="btn" href="product_details.html">Xem</a> <!--<span class="pull-right">$5.000</span> --></h4>
                                    </div>
                                </div>
                            </li>
                            <li class="span3">
                                <div class="thumbnail">
                                    <i class="tag"></i>
                                    <a href="product_details.html"><img id="sachnoibat" src="bootstrap/img/Book/book00004.jpg" alt=""></a>
                                    <div class="caption">
                                        <h5 class="captionnb">Tôi là Bêtô</h5>
                                        <p>Nguyễn Nhật Ánh</p>
                                        <h4><a class="btn" href="product_details.html">Xem</a> <!--<span class="pull-right">$5.000</span> --></h4>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="item">
                        <ul class="thumbnails">
                            <li class="span3">
                                <div class="thumbnail">
                                    <i class="tag"></i>
                                    <a href="product_details.html"><img id="sachnoibat" src="bootstrap/img/Book/book00005.jpg" alt=""></a>
                                    <div class="caption">
                                        <h5 class="captionnb">Văn mới 2012-2013</h5>
                                        <h4><a class="btn" href="product_details.html">Xem</a> <!--<span class="pull-right">$5.000</span> --></h4>
                                    </div>
                                </div>
                            </li>
                            <li class="span3">
                                <div class="thumbnail">
                                    <i class="tag"></i>
                                    <a href="product_details.html"><img id="sachnoibat" src="bootstrap/img/Book/book00006.jpg" alt=""></a>
                                    <div class="caption">
                                        <h5 class="captionnb">Tiểu sử Steve Job</h5>
                                        <h4><a class="btn" href="product_details.html">Xem</a> <!--<span class="pull-right">$5.000</span> --></h4>
                                    </div>
                                </div>
                            </li>
                            <li class="span3">
                                <div class="thumbnail">
                                    <a href="product_details.html"><img id="sachnoibat" src="bootstrap/img/Book/book00007.jpg" alt=""></a>
                                    <div class="caption">
                                        <h5 class="captionnb">Thằng quỷ,ngày quái quỷ..</h5>
                                        <h4><a class="btn" href="product_details.html">Xem</a><!--<span class="pull-right">$5.000</span> --></h4>
                                    </div>
                                </div>
                            </li>
                            <li class="span3">
                                <div class="thumbnail">
                                    <a href="product_details.html"><img id="sachnoibat" src="bootstrap/img/Book/book00008.jpg" alt=""></a>
                                    <div class="caption">
                                        <h5 class="captionnb">Truyện cổ tích Việt Nam</h5>
                                        <h4><a class="btn" href="product_details.html">Xem</a><!--<span class="pull-right">$5.000</span> --></h4>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="item">
                        <ul class="thumbnails">
                            <li class="span3">
                                <div class="thumbnail">
                                    <a href="product_details.html"><img id="sachnoibat" src="bootstrap/img/Book/book00009.jpg" alt=""></a>
                                    <div class="caption">
                                        <h5 class="captionnb">Truyện kể Jenji</h5>
                                        <h4><a class="btn" href="product_details.html">Xem</a><!--<span class="pull-right">$5.000</span> --></h4>
                                    </div>
                                </div>
                            </li>
                            <li class="span3">
                                <div class="thumbnail">
                                    <a href="product_details.html"><img id="sachnoibat" src="bootstrap/img/Book/book00010.jpg" alt=""></a>
                                    <div class="caption">
                                        <h5 class="captionnb">Lịch năm 2001</h5>
                                        <h4><a class="btn" href="product_details.html">Xem</a> <!--<span class="pull-right">$5.000</span> --></h4>
                                    </div>
                                </div>
                            </li>
                            <li class="span3">
                                <div class="thumbnail">
                                    <a href="product_details.html"><img id="sachnoibat" src="bootstrap/img/Book/book00011.jpg" alt=""></a>
                                    <div class="caption">
                                        <h5 class="captionnb">The Timekeeper's Moon</h5>
                                        <h4><a class="btn" href="product_details.html">Xem</a> <!--<span class="pull-right">$5.000</span> --></h4>
                                    </div>
                                </div>
                            </li>
                            <li class="span3">
                                <div class="thumbnail">
                                    <a href="product_details.html"><img id="sachnoibat" src="bootstrap/img/Book/book00012.jpg" alt=""></a>
                                    <div class="caption">
                                        <h5 class="captionnb">Truyện cổ tích Việt Nam</h5>
                                        <h4><a class="btn" href="product_details.html">VIEW</a> <!--<span class="pull-right">$5.000</span> --></h4>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="item">
                        <ul class="thumbnails">
                            <li class="span3">
                                <div class="thumbnail">
                                    <a href="product_details.html"><img id="sachnoibat" src="bootstrap/img/Book/book00013.jpg" alt=""></a>
                                    <div class="caption">
                                        <h5 class="captionnb">Tôi bị "bố" bắt cóc</h5>
                                        <h4><a class="btn" href="product_details.html">VIEW</a> <!--<span class="pull-right">$5.000</span> --></h4>
                                    </div>
                                </div>
                            </li>
                            <li class="span3">
                                <div class="thumbnail">
                                    <a href="product_details.html"><img id="sachnoibat" src="bootstrap/img/Book/book00014.jpg" alt=""></a>
                                    <div class="caption">
                                        <h5 class="captionnb">Truyện cổ tích Việt Nam</h5>
                                        <h4><a class="btn" href="product_details.html">VIEW</a> <!--<span class="pull-right">$5.000</span> --></h4>
                                    </div>
                                </div>
                            </li>
                            <li class="span3">
                                <div class="thumbnail">
                                    <a href="product_details.html"><img id="sachnoibat" src="bootstrap/img/Book/book00015.jpg" alt=""></a>
                                    <div class="caption">
                                        <h5 class="captionnb">Product name</h5>
                                        <h4><a class="btn" href="product_details.html">VIEW</a><!--<span class="pull-right">$5.000</span> --></h4>
                                    </div>
                                </div>
                            </li>
                            <li class="span3">
                                <div class="thumbnail">
                                    <a href="product_details.html"><img id="sachnoibat" src="bootstrap/img/Book/book00016.jpg" alt=""></a>
                                    <div class="caption">
                                        <h5 class="captionnb">Product name</h5>
                                        <h4><a class="btn" href="product_details.html">VIEW</a> <!--<span class="pull-right">$5.000</span> --></h4>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <a class="left carousel-control" href="#featured" data-slide="prev">‹</a>
                <a class="right carousel-control" href="#featured" data-slide="next">›</a>
            </div>
        </div>
    </div>

    <!-- SÁCH MỚI -->
    <h4>Sách mới</h4>
    <ul class="thumbnails">
        <li class="span3">
            <div class="thumbnail">
                <a href="product_details.html"><img id="sachmoi" width="300px" height="550px" src="bootstrap/img/Book/book00001.jpg" alt="" /></a>
                <div class="caption">
                    <h5 class="captionsm">Yêu và mơ</h5>
                    <p>
                        Nguyễn Khắc Viện
                    </p>

                    <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Thêm vào <i class="icon-shopping-cart"></i></a> <!--<a class="btn btn-primary" href="#">$5.000</a>--></h4>
                </div>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail">
                <a href="product_details.html"><img id="sachmoi" src="bootstrap/img/Book/book00002.jpg" alt="" /></a>
                <div class="caption">
                    <h5 class="captionsm">Anh chồng Stockholm</h5>
                    <p>
                        Banghok
                    </p>
                    <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Thêm vào <i class="icon-shopping-cart"></i></a> <!--<a class="btn btn-primary" href="#">$5.000</a>--></h4>
                </div>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail">
                <a href="product_details.html"><img id="sachmoi" src="bootstrap/img/Book/book00008.jpg" alt="" /></a>
                <div class="caption">
                    <h5 class="captionsm">Những tháng ngày đẹp nhất</h5>
                    <p>
                        Đoàn Sinh Hưởng
                    </p>
                    <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Thêm vào <i class="icon-shopping-cart"></i></a> <!--<a class="btn btn-primary" href="#">$5.000</a>--></h4>
                </div>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail">
                <a href="product_details.html"><img id="sachmoi" src="bootstrap/img/Book/book00009.jpg" alt="" /></a>
                <div class="caption">
                    <h5 class="captionsm">Tôi là Bêtô</h5>
                    <p>
                        Nguyễn Nhật Ánh
                    </p>
                    <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Thêm vào <i class="icon-shopping-cart"></i></a> <!--<a class="btn btn-primary" href="#">$5.000</a>--></h4>
                </div>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail">
                <a href="product_details.html"><img id="sachmoi" src="bootstrap/img/Book/book00010.jpg" alt="" /></a>
                <div class="caption">
                    <h5 class="captionsm">Văn mới 2012-2013</h5>
                    <p>
                        Nhiều tác giả
                    </p>
                    <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Thêm vào <i class="icon-shopping-cart"></i></a> <!--<a class="btn btn-primary" href="#">$5.000</a>--></h4>
                </div>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail">
                <a href="product_details.html"><img id="sachmoi" src="bootstrap/img/Book/book00011.jpg" alt="" /></a>
                <div class="caption">
                    <h5 class="captionsm">The Timekeeper's Moon</h5>
                    <p>
                        Joni Sensel
                    </p>
                    <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Thêm vào <i class="icon-shopping-cart"></i></a> <!--<a class="btn btn-primary" href="#">$5.000</a>--></h4>
                </div>
            </div>
        </li>
    </ul>


</div>





