@{
    Layout = "~/Views/Shared/UserMasterPage.cshtml";
}

@section Style
{
    <style type="text/css" id="enject">
        #thongbao
        {
            align-content:center;
        }
    </style>
}

<div id="thongbao">
    <h2>Bạn không có đủ tiền trong tài khoản để đọc cuốn sách này</h2>
    <h2>Vui lòng nạp tiền để tiếp tục</h2>
    <a href="/NapTien/Xem"><h3>Nạp tiền</h3></a>
</div>

