@{
    ViewBag.Title = "Đọc online";
    Layout = "~/Views/Shared/UserMasterPage.cshtml";
}


@section Style
{
    <style type="text/css" id="enject">
        #btdoc {
            text-align: center;
        }

        #side {
            height: 200px;
        }

        #title {
            text-align: center;
            color: #FFFFFF;
        }
    </style>
}

<div>
    <!--<ul class="breadcrumb">
        <li><a href="~/TrangChu/Xem">Trang chủ</a> <span class="divider">/</span></li>
        <li class="active"> Nạp tiền</li>
    </ul>-->

    <h3>  Bảy loại hình thông minh - Thomas Amstrong </h3>

    <table class="table table-bordered">
        <embed src="7.pdf" width="850" height="700" type='application/pdf'>
    </table>


</div>