@{
    ViewBag.TitleUser = "Nạp tiền";
    Layout = "~/Views/Shared/UserMasterPage.cshtml";
}

<h2>Kết quả nạp tiền</h2>
<div>
    @ViewBag.thongbaonaptien
</div>
<a href="~/TrangCaNhan/Xem"><h3>Trở về trang cá nhân</h3></a>

