@{
    ViewBag.TitleUser = "Nạp tiền";
    Layout = "~/Views/Shared/UserMasterPage.cshtml";
}


@section Style
{
    <style type="text/css" id="enject">
        #btdoc {
            text-align: center;
        }

        #side {
            height: 200px;
        }

        #title {
            text-align: center;
            color: #FFFFFF;
        }
    </style>
}

<div>
    <ul class="breadcrumb">
        <li><a href="~/TrangChu/Xem">Trang chủ</a> <span class="divider">/</span></li>
        <li class="active"> Nạp tiền</li>
    </ul>

    <hr class="soft" />
    <h3>  Nạp Tiền </h3>
    <table class="table table-bordered">
        <tr><th>Nhập thông tin thẻ cào </th></tr>
        <tr>
            <td>
                <form class="form-horizontal" action="~/NapTien/Thuchiennaptien" method="post">
                    <div class="control-group">
                        <label class="control-label" for="inputCountry">Chọn nhà mạng </label>
                        <div class="controls">
                            <select name="nhamang">
                                <option value="VMS">Mobiphone</option>
                                <option value="VIETTEL">Viettel</option>
                                <option value="VNP">Vinaphone</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputCountry">Số Serial </label>
                        <div class="controls">
                            <input type="text" id="inputCountry" name="serial" placeholder="Serial" required>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputPost">Mã PIN</label>
                        <div class="controls">
                            <input type="text" id="inputPost" name="mapin" placeholder="Mã PIN" required>
                        </div>
                    </div>
                    <div class="control-group">
                        <input type="submit" id="naptien" name="naptien" value="Nạp Tiền">
                    </div>
                </form>
            </td>
        </tr>
    </table>
</div>