@{
    Layout = "~/Views/Shared/UserMasterPage.cshtml";
    ViewBag.TitleUser = "Đọc online";
}

@section Style
{
    <style type="text/css" id="enject">
        #thongbao
        {
            align-content:center;
        }
    </style>
}

<div id="thongbao">
    <h2>Bạn không thể đọc online cuốn sách này</h2>
    <p>Chức năng đọc sách online chỉ dành riêng cho thành viên nội bộ của trường (Giáo Viên, Sinh Viên,...)</p>
    <p>Bạn có thể download phien bản điện tử của sách nếu bạn đăng ký thành viên và trả phí mua sách.</p>
</div>

