@{
    Layout = "~/Views/Shared/UserMasterPage.cshtml";
    ViewBag.TitleUser = "Đọc online";
}

@section Style
{
    <style type="text/css" id="enject">
        #thongbao
        {
            align-content:center;
        }
    </style>
}

<div id="thongbao">
    <h2>Bạn không thể donwload cuốn sách này</h2>
    <p>Số tiền tài khoản của bạn chỉ còn @Session["sotientaikhoan"] vnd, không thể download sách có giá bán @ViewBag.sachs.giaban vnđ, hãy <a style="color:green" href="/NapTien/Formnaptien">nạp tiền</a> để download</p>
</div>

