@{
    ViewBag.TitleUser = "Giỏ sách";
    Layout = "~/Views/Shared/UserMasterPage.cshtml";
}



@section Style
{
    

}
    <h3>Không thể thêm sách vào giỏ sách</h3>
    <p> Bạn không thể thêm sách vào giỏ hàng, chức năng giỏ hàng chỉ dành cho người dùng là thành viên nội bộ (Giáo Viên, Sinh Viên). Nhấn vào đây để trở lại trang ban đầu <a style="color:green" href="@ViewBag.urlnext"> trở về</a>.
    </p>