@{
    ViewBag.Title = "Kho sách";
    Layout = "~/Views/Shared/UserMasterPage.cshtml";
}


@section Style
{
    <style type="text/css" id="enject">
    #sachmoi {
        height: 300px;
    }

    #side {
        height: 200px;
    }

    .captionnb {
        height: 60px;
    }

    .captionsm {
        height: 45px;
    }

    #bookssort .listsort {
        width: 100px;
    }

    #pageindex {
        font-weight: bold;
        font-size: 25px;
        text-align: center;
    }

        #pageindex a {
            font-weight: bold;
            font-size: 20px;
        }

            #pageindex a:hover {
                color: Blue;
                cursor: pointer;
            }

    #login {
        width: 280px;
    }

    #title {
        text-align: center;
        color: #FFFFFF;
    }
</style>
}

<div>
    <ul class="breadcrumb">
        <li><a href="~/TrangChu/Xem">Trang chủ</a> <span class="divider">/</span></li>
        <li class="active">Kho sách</li>
    </ul>
    <!-- SÁCH MỚI -->
    <div>
        <div id="bookscount"> <h4>Số Lượng Sách:</h4></div>
        <div id="booksort">
            <b>Xắp Xếp Theo:</b>
            <select id="listsort" name="sorttype" onchange="DuyetTheoThuTu()">
                <option value="tensach">Tên Sách</option>
                <option value="matacgia">Tác Giả</option>
                <option value="manhaxuatban">Nhà Xuất Bản</option>
                <option value="ngaydang">Ngày Đăng</option>
                <option value="machude">Chủ Đề</option>
            </select>
        </div>
        <br id="nhom6" />
    </div>
    <ul class="thumbnails">
        <li class="span3">
            <div class="thumbnail">
                <a href="product_details.html"><img id="sachmoi" width="300px" height="550px" src="bootstrap/img/Book/book00001.jpg" alt="" /></a>
                <div class="caption">
                    <h5 class="captionsm">Yêu và mơ</h5>
                    <p>
                        Nguyễn Khắc Viện
                    </p>

                    <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Thêm vào <i class="icon-shopping-cart"></i></a> <!--<a class="btn btn-primary" href="#">$5.000</a>--></h4>
                </div>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail">
                <a href="product_details.html"><img id="sachmoi" src="bootstrap/img/Book/book00002.jpg" alt="" /></a>
                <div class="caption">
                    <h5 class="captionsm">Anh chồng Stockholm</h5>
                    <p>
                        Banghok
                    </p>
                    <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Thêm vào <i class="icon-shopping-cart"></i></a> <!--<a class="btn btn-primary" href="#">$5.000</a>--></h4>
                </div>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail">
                <a href="product_details.html"><img id="sachmoi" src="bootstrap/img/Book/book00008.jpg" alt="" /></a>
                <div class="caption">
                    <h5 class="captionsm">Những tháng ngày đẹp nhất</h5>
                    <p>
                        Đoàn Sinh Hưởng
                    </p>
                    <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Thêm vào <i class="icon-shopping-cart"></i></a> <!--<a class="btn btn-primary" href="#">$5.000</a>--></h4>
                </div>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail">
                <a href="product_details.html"><img id="sachmoi" src="bootstrap/img/Book/book00009.jpg" alt="" /></a>
                <div class="caption">
                    <h5 class="captionsm">Tôi là Bêtô</h5>
                    <p>
                        Nguyễn Nhật Ánh
                    </p>
                    <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Thêm vào <i class="icon-shopping-cart"></i></a> <!--<a class="btn btn-primary" href="#">$5.000</a>--></h4>
                </div>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail">
                <a href="product_details.html"><img id="sachmoi" src="bootstrap/img/Book/book00010.jpg" alt="" /></a>
                <div class="caption">
                    <h5 class="captionsm">Văn mới 2012-2013</h5>
                    <p>
                        Nhiều tác giả
                    </p>
                    <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Thêm vào <i class="icon-shopping-cart"></i></a> <!--<a class="btn btn-primary" href="#">$5.000</a>--></h4>
                </div>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail">
                <a href="product_details.html"><img id="sachmoi" src="bootstrap/img/Book/book00011.jpg" alt="" /></a>
                <div class="caption">
                    <h5 class="captionsm">The Timekeeper's Moon</h5>
                    <p>
                        Joni Sensel
                    </p>
                    <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Thêm vào <i class="icon-shopping-cart"></i></a><!--<a class="btn btn-primary" href="#">$5.000</a>--></h4>
                </div>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail">
                <a href="product_details.html"><img id="sachmoi" src="bootstrap/img/Book/book00012.jpg" alt="" /></a>
                <div class="caption">
                    <h5 class="captionsm">Truyện cổ tích Việt Nam</h5>
                    <p>
                        Nhiều tác giả
                    </p>
                    <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Thêm vào <i class="icon-shopping-cart"></i></a><!--<a class="btn btn-primary" href="#">$5.000</a>--></h4>
                </div>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail">
                <a href="product_details.html"><img id="sachmoi" src="bootstrap/img/Book/book00013.jpg" alt="" /></a>
                <div class="caption">
                    <h5 class="captionsm">Tôi bị "Bố" bắt cóc</h5>
                    <p>
                        Mitsuyo Kakuta
                    </p>
                    <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Thêm vào <i class="icon-shopping-cart"></i></a><!--<a class="btn btn-primary" href="#">$5.000</a>--></h4>
                </div>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail">
                <a href="product_details.html"><img id="sachmoi" src="bootstrap/img/Book/book00015.jpg" alt="" /></a>
                <div class="caption">
                    <h5 class="captionsm">Tình yêu còn mãi</h5>
                    <p>
                        Huyên Mặc
                    </p>
                    <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Thêm vào <i class="icon-shopping-cart"></i></a><!--<a class="btn btn-primary" href="#">$5.000</a>--></h4>
                </div>
            </div>
        </li>
    </ul>
    <div id="pageindex">
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4 ...</a>
        <a href="#">8</a>
    </div>
</div>