@{
    ViewBag.TitleUser = "Mượn sách";
    Layout = "~/Views/Shared/UserMasterPage.cshtml";
}

<h3>Bạn đã mượn sách thành công</h3>
Đơn mượn sách của bạn đã chuyển đến người quản lý thư viện. Bộ phận thư viện sẽ sớm liên hệ đến bạn, nhấn vào đay để xem lược sử đặt mượn sách <a href="/MuonSach/Xemdonmuon?manguoidung=@Session["manguoidung"]" style=""></a>
