
@{
    ViewBag.TitleAdmin = "Quản lý hệ thống - Home";
    Layout = "~/Views/Shared/ManagerMasterPage.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="content all-icons">
                        <div class="row">
                            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                                <div class="font-icon-detail">
                                    <i class="pe-7s-map"></i>
                                    <a href="~/QuanLySach/Xem">
                                        <input type="text" value="Quản lý sách">
                                    </a>
                                </div>
                            </div>
                            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                                <div class="font-icon-detail">
                                    <i class="pe-7s-users"></i>
                                    <a href="~/QuanLyUser/Xem">
                                        <input type="text" value="Quản lý người dùng">
                                    </a>
</div>
                            </div>
                            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                                <div class="font-icon-detail">
                                    <i class="pe-7s-id"></i>
                                    <a href="~/QuanLyManager/Xem">
                                        <input type="text" value="Quản lý manager">
                                    </a>
                                </div>
                            </div>
                            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                                <div class="font-icon-detail">
                                    <i class="pe-7s-id"></i>
                                    <a href="~/QuanLyNapTien/Xem">
                                        <input type="text" value="Quản lý nạp tiền">
                                    </a>
                                </div>
                            </div>
                            @*<div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                                <div class="font-icon-detail">
                                    <i class="pe-7s-map-2"></i>
                                    <input type="text" value="Bản đồ">
                                </div>
                            </div>*@

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

