@{
    Layout = "~/Views/Shared/UserMasterPage.cshtml";
    ViewBag.TitleUser = "Đăng ký";
}
<h2>Đăng ký thành công</h2>
<p>Thông tin đăng ký của <b>@ViewBag.nguoidung.tendangnhap</b> vào hệ thống đã thành công, vui lòng đăng nhập ở đường dẫn bên dưới</p>

<a href="~/DangNhap/Xem" role="button" data-toggle="modal" style="padding-right:0"><span class="btn btn-large btn-success">Đăng nhập</span></a>