@{
    ViewBag.Title = "Đăng ký";
    Layout = "~/Views/Shared/UserMasterPage.cshtml";
}

@section Style
{
    <style type="text/css" id="enject">
    #login {
        width: 280px;
    }

    #title {
        text-align: center;
        color: #FFFFFF;
    }
    </style>
}

@section JavaScript
{
    <script>

        function kiemtra() {
            var thematkhau = document.getElementById("matkhau");
            var matkhau = thematkhau.value;
            var thenhaplaimk = document.getElementById("nhaplaimatkhau");
            var nhaplaimk = thenhaplaimk.value;

            if (nhaplaimk == matkhau) {
                return true;
            }
            else {
                alert("Mật khẩu nhập lại không trùng khớp");
                return false;
            }
        }
    </script>


}
<div>
    <ul class="breadcrumb">
        <li><a href="~/TrangChu/Xem">Trang chủ</a> <span class="divider">/</span></li>
        <li class="active">Đăng ký</li>
    </ul>
    <h3> Đăng ký</h3>
    <div class="well">
        <form class="form-horizontal" action="/DangKy/Thuchiendangky" method="post" enctype="multipart/form-data">
            <p><sup>*</sup>Trường bắt buộc nhập</p>
            <div class="control-group">
                <label class="control-label" for="inputFname1">Họ và tên <sup>*</sup>:</label>
                <div class="controls">
                    <input type="text" id="inputFname1" name="hovaten" placeholder="Họ và tên">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputLnam">Tên đăng nhập <sup>*</sup>:</label>
                <div class="controls">
                    <input type="text" id="inputLnam" name="tendangnhap" placeholder="Tên đăng nhập">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputPassword1">Mật khẩu <sup>*</sup>:</label>
                <div class="controls">
                    <input type="password" id="inputPassword1" name="matkhau" placeholder="Password">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputPassword1">Nhập lại mật khẩu <sup>*</sup>:</label>
                <div class="controls">
                    <input type="password" id="inputPassword1" name="nhaplaimatkhau" placeholder="Nhập lại mật khẩu">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputFname1">Email: <sup>*</sup>:</label>
                <div class="controls">
                    <input type="text" id="inputFname1" name="email" placeholder="Email">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputFname1">Địa chỉ: <sup>*</sup>:</label>
                <div class="controls">
                    <input type="text" id="inputFname1" name="diachi" placeholder="Địa chỉ">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputFname1">Ngày sinh: </label>
                <div class="controls">
                    <input type="date" id="inputFname1" name="ngaysinh" placeholder="Ngày sinh">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputFname1">Số điện thoại: </label>
                <div class="controls">
                    <input type="text" id="inputFname1" name="sodienthoai" placeholder="Số điện thoại">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="aditionalInfo">Mô tả ngắn: </label>
                <div class="controls">
                    <textarea name="motangan" id="aditionalInfo" cols="26" rows="3" placeholder="Mô tả ngắn"></textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="aditionalInfo">Giới tính: </label>
                <div class="controls">
                    <input type="text" id="inputFname1" name="gioitinh" placeholder="Giới tính"></input>
                </div>
            </div>
            <!--<div class="control-group">
            <label class="control-label" for="inputFname1">Giới tính: </label>
            <div class="controls">
                <table width="200" border="0">
                    <tbody>
                        <tr>
                            <td><label style="text-align:center">Nam</label></td>
                            <td><input type="checkbox" name="nam" value="nam" checked="checked"></td>
                            <td><label style="text-align:center">Nữ </label></td>
                            <td><input type="checkbox" name="nu" value="nu"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>-->
            <div class="control-group">
                <label class="control-label" for="inputFname1">Ảnh đại diện</label>
                <div class="controls">
                    <input type="file" name="anhdaidien">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <!--<input type="hidden" name="email_create" value="1">
                <input type="hidden" name="is_new_customer" value="1">-->
                    <input class="btn btn-large btn-success" type="submit" value="Đăng ký">
                </div>
            </div>
        </form>
    </div>
    
</div>