@{
    ViewBag.Title = "Quản lý sách";
    Layout = "~/Views/Shared/ManagerMasterPage.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Danh sách sách</h4>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <tr>
                                <td>Mã</td>
                                <td>Tên Manager</td>
                                <td>Ảnh</td>
                                <td>Tên đăng nhập</td>
                                <td>Email</td>
                                <td>Loại Manager</td>
                                <td></td>
                            </tr>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Yêu và mơ</td>
                                    <td><img id="imgtbl" src="assets/img/Book/book00001.jpg"></td>
                                    <td>Nguyễn Khăc viện</td>
                                    <td>22/11/1995</td>
                                    <td>Văn học</td>
                                    <th><a href="">Xóa</a><b>/</b><a href="">Sửa</a></th>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Những tháng ngày đẹp nhất</td>
                                    <td><img id="imgtbl" src="assets/img/Book/book00003.jpg"></td>
                                    <td>Nhiều tác giả</td>
                                    <td>22/11/1995</td>
                                    <td>Văn học</td>
                                    <th><a href="">Xóa</a><b>/</b><a href="">Sửa</a></th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Yêu và mơ</td>
                                    <td><img id="imgtbl" src="assets/img/Book/book00001.jpg"></td>
                                    <td>Nguyễn Khăc viện</td>
                                    <td>22/11/1995</td>
                                    <td>Văn học</td>
                                    <th><a href="">Xóa</a><b>/</b><a href="">Sửa</a></th>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Những tháng ngày đẹp nhất</td>
                                    <td><img id="imgtbl" src="assets/img/Book/book00003.jpg"></td>
                                    <td>Nhiều tác giả</td>
                                    <td>22/11/1995</td>
                                    <td>Văn học</td>
                                    <th><a href="">Xóa</a><b>/</b><a href="">Sửa</a></th>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <div id="pageindex">
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4 ...</a>
                    <a href="#">8</a>
                </div>
                <div><button type="submit" class="btn btn-info btn-fill pull-right">Thêm sách</button></div>
            </div>

        </div>
    </div>
</div>
