@using LibraryManagement.Models

@{
    Layout = "~/Views/Shared/UserMasterPage.cshtml";
    ViewBag.TitleUser = "Library Online Center";
}


@{  //Khai bao mot block code de su ly tren server o day
    //Thuc hien lay sachs tu viewbag
    List<DauSach> sachnb = ViewBag.sachnb;
    List<DauSach> sachm = ViewBag.sachm;
}




@section Style
{
<style type="text/css" id="enject">
    #sachmoi {
        height: 300px;
    }

    #side {
        height: 200px;
    }

    .captionnb {
        height: 50px;
    }

    .captionsm {
        height: 45px;
    }

    #login {
        width: 280px;
    }

    #title {
        text-align: center;
        color: #FFFFFF;
    }

        #title img {
            width: 500px;
        }
</style>
}

@section Headerimg
{
    <img src="~/Content/Template/User/bootstrap/img/GetArticleImage.jpg">
}

<div>
    <div class="well well-small">
        <h4>Sách nổi bật <small class="pull-right"><!--200+ featured products--></small></h4>
        <div class="row-fluid">
            <div id="featured" class="carousel slide">
                <div class="carousel-inner">

                    @for (int i = 0; i < 4; i++)
                    {
                    <div class="item">
                        <ul class="thumbnails">
                            @for (int j = 0; j < 4; j++)
                            {
                            <li class="span3">
                                <div class="thumbnail">
                                    <a href="~/ChiTietSach/Xem?masach=@sachnb[(i * 4) + j].madausach"><img id="sachnoibat" src="~/Content/BookImg/@sachnb[(i*4)+j].bia" alt=""></a>
                                    <div class="caption">
                                        <a href="~/ChiTietSach/Xem?masach=@sachnb[(i * 4) + j].madausach">
                                            <h5 class="captionnb">@sachnb[(i * 4) + j].tensach</h5>
                                        </a>
                                            <p>@sachnb[(i * 4) + j].TacGia.tentacgia</p>
                                            <h4>
                                                <a class="btn" href="~/ChiTietSach/Xem?masach=@sachnb[(i * 4) + j].madausach">
                                                    <i class="icon-zoom-in"></i>
                                                </a>
                                                @if (Session["quyen"].ToString() != "admin" || Session["quyen"].ToString() != "user")
                                                {
                                                    <a class="btn" href="~/GioSach/Themsachvaogio?masach=@sachnb[(i * 4) + j].madausach&urlnext=@Request.RawUrl">
                                                        Thêm vào
                                                        <i class="icon-shopping-cart"></i>
                                                    </a>
                                                }
                                            </h4>
                                    </div>
                                </div>
                            </li>
                            }
                        </ul>
                    </div>
                    }
                   
                </div>
                <a class="left carousel-control" href="#featured" data-slide="prev">‹</a>
                <a class="right carousel-control" href="#featured" data-slide="next">›</a>
            </div>
        </div>
    </div>

    <!-- SÁCH MỚI -->
    <h4>Sách mới</h4>
    <ul class="thumbnails">
        @for (int i = 0; i < 6; i++)
        {
            <li class="span3">
                <div class="thumbnail">
                    <i class="tag"></i>
                    <a href="/ChiTietSach/Xem?masach=@sachm[i].madausach"><img id="sachmoi" width="300" height="550" src="~/Content/BookImg/@sachm[i].bia" alt="" /></a>
                    <div class="caption">
                        <a href="/ChiTietSach/Xem?masach=@sachm[i].madausach">
                            <h5 class="captionsm">@sachm[i].tensach</h5>
                        </a>
                            <p>
                                @sachm[i].TacGia.tentacgia
                            </p>
                            <h4 style="text-align:center">
                                <a class="btn" href="/ChiTietSach/Xem?maxemchitiet=@sachm[i].madausach"> 
                                    <i class="icon-zoom-in"></i>
                                </a> 
                                @if (Session["quyen"].ToString() != "admin" || Session["quyen"].ToString() != "user")
                                {
                                    <a class="btn" href="#">
                                        Thêm vào
                                        <i class="icon-shopping-cart"></i>
                                    </a>
                                }
                            </h4>
</div>
                </div>
            </li>
        }
    </ul>*
</div>





